# Ignore All
*

# Unignoring all with extentions
!*.*

# Unignoring all directories
!*/

### Above combination will ignore all files without extention 

#ignore file with extentions .o, .out
*.o
*.out 

# Unignoring all directories
!Makefile
